
{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags menu_tags staticfiles %}
  {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <link href="{% static 'css/login.css' %}" rel="stylesheet">
                {% load crispy_forms_tags %}
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-login">Change Password</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}