
{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags menu_tags staticfiles %}
  {% block content %}
  <div class="container mt-5">
        <div class="row">
            <div class="col-sm-10 col-md-4 col-lg-4 mx-auto">
                <link href="{% static 'css/login.css' %}" rel="stylesheet">
                {% load crispy_forms_tags %}
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Change Password</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock content %}