{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags menu_tags staticfiles %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
  {% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-10 col-md-4 col-lg-4 mx-auto">
                {% load crispy_forms_tags %}
                <h3 class="login-heading mb-4">Welcome back!</h3>
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Log In</button>
                        <a href="{% url 'password_reset' %}" class="small">Forgot your password</a>

                    </form>
            </div>
        </div>
    </div>
{% endblock content %}
